<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Form Autocomplete </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Add Contact</h2>

  <form [formGroup]="addContact" (submit)="addSong()" novalidate>
    <ion-item fill="outline" class="ion-no-padding">
      <ion-label position="floating">First Name:</ion-label>
      <ion-input formControlName="name" type="text" autocomplete="name">
      </ion-input>
      <ion-note slot="helper">Please enter your first name</ion-note>
      <ion-note
        slot="error"
        *ngIf="!addContact.controls.name.valid && addContact.controls.name.touched"
        >Your first name is required.</ion-note
      >
    </ion-item>

    <ion-item fill="outline" class="ion-no-padding">
      <ion-label position="floating">Last Name:</ion-label>
      <ion-input
        formControlName="lastName"
        type="text"
        autocomplete="family-name"
      >
      </ion-input>
      <ion-note slot="helper">Please enter your last name</ion-note>
      <ion-note
        slot="error"
        *ngIf="!addContact.controls.lastName.valid && addContact.controls.lastName.touched"
        >Your last name is required.</ion-note
      >
    </ion-item>

    <ion-item fill="outline" class="ion-no-padding">
      <ion-label position="floating">Email:</ion-label>
      <ion-input
        formControlName="email"
        type="email"
        autocomplete="email"
        inputmode="email"
      >
      </ion-input>
      <ion-note slot="helper">Please enter your email name</ion-note>
      <ion-note
        slot="error"
        *ngIf="!addContact.controls.lastName.valid && addContact.controls.lastName.touched"
        >You need to enter a valid email.</ion-note
      >
    </ion-item>

    <ion-item fill="outline" class="ion-no-padding">
      <ion-label position="floating">Phone Number:</ion-label>
      <ion-input
        formControlName="phone"
        type="tel"
        autocomplete="tel"
        inputmode="tel"
      >
      </ion-input>
      <ion-note slot="helper">Please enter your Phone Number</ion-note>
      <ion-note
        slot="error"
        *ngIf="!addContact.controls.lastName.valid && addContact.controls.lastName.touched"
        >You need to enter a valid phone number.</ion-note
      >
    </ion-item>
  </form>
</ion-content>
